<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入vue.js-->
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>

    <pre>
         v-model
         用在双向绑定,支持的元素input\textarea\checkbox\radio\select...
    </pre>

    <div id="app">
        <p>今年{{age}}}岁</p>

        <br>
        input:
        <input type="text" v-model="age"/>

        <br>
        textarea:
        textarea:<br/>
        <p>当前的内容:{{msg}}</p>
        <textarea rows="10" cols="10" v-model="msg"></textarea>

        <br/>checkbox多选:<br/>
        <br/>喜欢<span>{{hobby.join(",")}}</span>
        <input type="checkbox" value="1" v-model="hobby">篮球
        <input type="checkbox" value="2" v-model="hobby">羽毛球
        <input type="checkbox" value="3" v-model="hobby">乒乓球


        <br/>checkbox单选:<br/>
        <br/>是否记住密码<span>{{remember}}</span><br/>

        <input type="checkbox" v-model="remember">是否记住


        <input type="radio" value="0" v-model="sex">男
        <input type="radio" value="1" v-model="sex">女

        br/>select单选:<br/>
        <br/>地址<span>{{address}}</span><br/>
        <select v-model="address">
            <option value="">请选择地址</option>
            <option value="0">广州</option>
            <option value="1">深圳</option>
        </select>

    </div>
    <script>
        var vue = new Vue({
                el:"#app",
                data:{
                    age:18,
                    msg:'xx',
                    hobby:[],
                    remember:false,  //checkbox如果是单选的类型是boolean
                    sex:1,
                    address:1
                }
            })

    </script>
</body>
</html>